:root {
    --text-color: #425066;
}
@font-face { font-family: OpenSans; src: url('OpenSans-Medium.ttf'); } 

body {
    font-family: OpenSans,"Segoe UI","Helvetica Neue","Lucida Grande",Helvetica,Arial,sans-serif;
    color: var(--text-color);
    background-color: #e8eaed;
    font-weight: 600;
    margin: 2px 0px 0px 0px; 
}

.app {
    margin: auto;
    width: 375px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 5px 5px -2px gray;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #aaa;
}

#app-logo {
    padding-top: 5px;
    padding-right: 5px;
}

#app-name {
    font-family: OpenSans;
    font-size: 32px;
    line-height: 28px;
    font-weight: 600;
}

#app-name-ai {
    color: #FD8917;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: 150ms ease-out;
}

#connect-button {
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    background: url(bt_connect.png) no-repeat 50% 30%, #eff7ff;
    border: 1px solid lightblue;
    border-radius: 20px;
    cursor: pointer;
    height: 150px;
    width: 150px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    display: block;
  }
  
#connect-button:hover {
    border-color: #dadce0;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    color: #202124;
}

#connect-button-caption {
    position: relative;
    top: 30%;
    color: steelblue;
 }

#error-container {
    display: none;
    text-align: center;
    font-size: 12px;
    color:red;
    padding: 10px;
}

#audio-container {
    display: none;
}

#webcam-container { 
    display: none;
    position: relative; 
    border-radius: 10px;
    width: 300px;
    height: 300px;
    line-height: 300px;
    margin: auto;
    text-align: center;
    font-size: 14px;
    background-color: #eee;
    margin-top: 10px;
}

#webcam-canvas {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

#rotate {
    visibility: hidden;
    position: absolute; 
    z-index: 100; 
    top: 10px; 
    left: 10px;
}

#label-container {
    display: none;
    margin-top: 10px;
    padding: 10px;
}

.output {
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.label {
    font-family: OpenSans;
    font-size: 12px;
    font-weight: 600;
    text-align: right;
    width: 20%;
	display: inline-block;
    overflow: hidden;
    padding: 2px;
    margin-right: 10px;
}

.progress {
  width: 70%;
  border-radius: 5px;
  display: inline-block;
}

.bar {
    font-family: OpenSans;
    font-size: 10px;
    font-weight: 600;
    text-align: right;
    color: #fff;
    border-radius: inherit;
    width: 0%;
    transition: 150ms ease-out;
}

.footnote {
    border-top: 1px solid #aaa;
    padding: 10px;
    text-align: center;
}

a {
    color: var(--text-color);
    font-size: 12px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}